<div class="center hero-unit">
  <h1>Sustainable Clicks</h1>
  <h3>Easy AdWords Editor File Builder</h3>
  <%= link_to "Home |", '#' %>
  <%= link_to " Process Files |", '#' %>
  <%= link_to " Instructions |", instructions_path %>
  <%= link_to " Contact Us", 'http://Sustainableclicks.com' %>
  <h2>The Sustainable Clicks Easy AdWords tool enables you to easily create the files you need to quickly to upload into the AdWords Editor. This allows you to easily update or create a new campaign.</h2>
  <%= link_to "Get Started", signup_path, class: "btn btn-large btn-primary" %>
</div>