<div class='center'>
  <p>
    <br>
    <%= link_to "Download Ad Copy File", ad_copies_path(format: "csv"), class: 'btn btn-large btn-primary' %>
  </p>
</div>

<!-- <table border="1">
  <tr>
    <th>Ad Group</th>
    <th>Headline</th>
    <th>Description 1</th>
    <th>Description 2</th>
    <th>Display URL</th>
    <th>Destination URL</th>
    <th>Campaign</th>
    <th>Status</th>
  </tr>

  <% @ad_copies.each do |row| %>
    <tr>
      <td><%= row.ad_group %></td>
      <td><%= row.headline %></td>
      <td><%= row.description1 %></td>
      <td><%= row.description2 %></td>
      <td><%= row.display_url %></td>
      <td><%= row.destination_url %></td>
      <td><%= row.campaign %></td>
      <td><%= row.status %></td>
    </tr>
  <% end %>

</table> -->
