<p>
  Download Ad Copy File:
  <%= link_to "Download File", ad_copies_path(format: "csv") %>
</p>

<table border="1">
  <tr>
    <th>Ad Group</th>
    <th>Headline1</th>
    <th>Headline2</th>
    <th>Description 1</th>
    <th>Description 2</th>
    <th>Display URL</th>
    <th>Destination URL</th>
    <th>Campaign</th>
  </tr>

  <% @ad_copies.each do |row| %>
    <tr>
      <td><%= row.ad_group %></td>
      <td><%= row.headline1 %></td>
      <td><%= row.headline2 %></td>
      <td><%= row.description1 %></td>
      <td><%= row.description2 %></td>
      <td><%= row.display_url %></td>
      <td><%= row.destination_url %></td>
      <td><%= row.campaign %></td>
    </tr>
  <% end %>

</table>
