<div class='center'>
	<p>
		<br>
		<%= link_to "Download Keyword File", keywords_path(format: "csv"), class: 'btn btn-large btn-primary' %>
		<br>
		<br>
		<%= link_to "Download Ad Group File", ad_group_path(format: "csv"), class: 'btn btn-large btn-primary' %>
	</p>
</div>

<!-- <table border="1">
	<tr>
		<th>Ad Group</th>
		<th>Keyword</th>
		<th>Keyword Type</th>
		<th>Campaign</th>
	</tr>

	<% @keywords.each do |row| %>
		<tr>
			<td><%= row.ad_group %></td>
			<td><%= row.keyword %></td>
			<td><%= row.keyword_type %></td>
			<td><%= row.campaign_name %></td>
		</tr>
	<% end %>

</table> -->
