<p>
	Download Keyword File:
	<%= link_to "Download Keyword", keywords_path(format: "csv") %>
	<br>
	Download Ad Group File:
	<%= link_to "Download Ad Group", ad_group_path(format: "csv") %>
</p>

<table border="1">
	<tr>
		<th>Ad Group</th>
		<th>Keyword</th>
		<th>Keyword Type</th>
		<th>Campaign</th>
	</tr>

	<% @keywords.each do |row| %>
		<tr>
			<td><%= row.ad_group %></td>
			<td><%= row.keyword %></td>
			<td><%= row.keyword_type %></td>
			<td><%= row.campaign_name %></td>
		</tr>
	<% end %>

</table>
