<%= image_tag('Sustainable_Clicks_logo-small.png') %>
<h3>Easy AdWords Editor File Builder</h3>
<%= link_to "Home", root_path %><b> | </b>
<%= link_to " Process Files", process_path %><b> | </b>
<%= link_to 'Upload Form', upload_form_path,  {:remote => true, 'data_toggle' =>  "modal", 'data-target' => '#modal-window'}  %> <b> | </b>
<%= link_to " Instructions", instructions_path %><b> | </b>
<%= link_to " Contact Us", 'http://Sustainableclicks.com' %>
